<ion-header class="headerBackground">
  <ion-navbar>
    <ion-title padding>{{ response?.name }}</ion-title>
    <ion-buttons end *ngIf=!isFavourited><button class="transparent"><ion-icon class="favouriteIcon" name="star-outline" (click)="favouriteButton()"></ion-icon></button></ion-buttons>
    <ion-buttons end *ngIf=isFavourited><button class="transparent"><ion-icon class="favouriteIcon" name="star" (click)="unFavouriteButton()"></ion-icon></button></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span>Level {{ response?.level }} {{ response?.school.name }}</span><span *ngIf="response?.ritual=='yes'">(ritual)</span>

  <h6>Casting Time:</h6>
  <div class="float">{{ response?.casting_time }}</div>

  <h6>Range:</h6>
  <div>{{ response?.range }}</div>

  <h6>Components:</h6>
  <ion-list>
    <ion-col *ngFor="let component of response?.components; let i = index">
      <ion-col>{{ component }}</ion-col>
    </ion-col>
    <ion-col *ngIf="response?.material">({{ response?.material }})</ion-col>
  </ion-list>

  <h6>Duration:</h6>
  <div>{{ response?.duration }}</div>

  <h6>Concentration:</h6>
  <div>{{ response?.concentration }}</div>

  <h6>Class:</h6>
  <ion-list>
    <ion-col *ngFor="let class of response?.classes; let i = index">
      <ion-col>{{ class.name }}</ion-col>
    </ion-col>
  </ion-list>

  <h6>Description</h6>
  <div>{{ response?.desc }}</div>

  <h6 *ngIf="response?.higher_level">Higher Level</h6>
  <div>{{ response?.higher_level }}</div>
</ion-content>
