page-weapon-properties {

  .headers {
      font-weight: bold;
      color: #ff8d22
  }

  .cardBackground {
      background-color: #222;
      font-weight: bold;
      color: #ff8d22
  }

  .icons {
    float: right;
  }

  .spacer {
      margin-bottom: 10px
  }

  }
