page-display {
  .content {
    margin-top: 20%;
  }

  .hpfield {
    .text-input {
      margin: 0;
      text-align: right
    }
  }

  .slide-zoom{
    text-align: left
  }

  .swiper-slide {
    text-align: left;
    font-size: 14px;
  }

  .maxHP {
    text-align: left;
  }

  .sidesLabel {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
  }

  .sideSelectBar {
    max-width: 100% !important;
  }

  .placeholder {
    height: 20%;
    background: red;
    margin-bottom: 10%;
  }

  .returnButton {
    text-align: center;
    margin: auto;
  }

  .buttonWidth {
    width: 90%;
  }

  .displayHeadings {
    text-decoration-line: underline;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .attributesHeadings {
    text-decoration-line: underline;
    margin-bottom: 20px;
  }

  .bolding {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .bolding_underspaced {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .border_wrapped {
    border: solid;
    border-width: thin;
    white-space: pre-wrap;
  }

  .underbolded {
    text-decoration-line: underline;
    font-weight: bold;
    text-align: center;
  }

  .proficiencyHeadings {
    text-decoration-line: underline;
  }

  .bottomGap {
    height: 11%;
  }

  .spacer {
    margin-top: 30px;
  }

  .centering {
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 35%;
  }

  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    font-size: 14px !important;
  }

  .bordered {
    border: solid;
    border-width: thin;
  }

  .white-space_wrap {
    white-space: pre-wrap;
  }
}
