page-conditions{

.conditionHeaders {
    font-weight: bold,
}

.cardBackground {
    background-color: #e8e9ff
}

.returnButton {
    text-align:center;
    margin:auto;
}

.table {
    border: 1px solid;
}

}