page-conditions{

.conditionHeaders {
    font-weight: bold;
    color: #ff8d22
}

.cardBackground {
    background-color: #222;
    font-weight: bold;
    color: #ff8d22
}

.icons {
  float: right;
}

.table {
    border: 1px solid;
}

.spacer {
    margin-bottom: 10px
}

}
