page-home {

.content {
    margin-top:10%;
}

.emptyArray {
  text-align: center;
}

.name {
  font-size: 20px;
}

.details {
 font-size: 14px;
 margin-left: 5%;
}

.createIcon {
  color: #ff8d22;
  margin-right: 20px;
  font-size: 25px;
}}
