.headerBackground {
    text-align: center;
    background-color: #e8e9ff;
    border-bottom-color: grey;
    border-bottom-style: dashed;
    padding-right: 55px;
}

// TODO figure out scaling and where bar between div and content comes from(probably padding)
.topBar {
    position: fixed;
    width: 100%;
    background-color: #e8e9ff;
    padding-top: 1%;
    border-bottom-color: grey;
    border-bottom-style: dashed;
    padding-bottom: 1%;
    margin-bottom: 0%;
}

.placeholder {
    height: 200%;
    background: #e8e9ff;
}

.fumbleStyle {
    color: black;
    .alert-message{
        color: red;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}

.normalStyle {
    color: black;
    .alert-message{
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}

.maxStyle {
    color: black;
    .alert-message{
        color: green;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}

.toast {
    .toast-wrapper {
        border-radius: 10px !important;
        text-align: center;
        background-color: #e8e9ff;
        border: solid;
        border-width: 2px;
    }
    .toast-message {
        color: black;
    }
}

