ion-icon {
  &[class*="prefix-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
  }
  // custom icons
  &[class*="prefix-dice"] {
      mask-image: url(../assets/icon/noun_Dice_20125.svg);
  }}

.toolbar-md {
  padding: 0px;
}

body.keyboard-is-open {
  div.tabbar.show-tabbar {
      display: none;
  }
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

.title.title-md {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  }

.back-button.show-back-button {
  z-index: 4 !important;
  }

.transparent {
  background-color: transparent;
}

.headerBackground {
    text-align: center;
    background-color: #222;
    width: 100%;
}

ion-header{
  .toolbar-title{
    color: #ff8d22;}
}

ion-navbar{
  ion-icon.back-button-icon.icon {
  color: map-get($colors, primary);
}}

.toast {
    .toast-wrapper {
        border-radius: 10px !important;
        text-align: center;
        background-color: #ff8d22;
        border: solid;
        border-width: 2px;
    }
    .toast-message {
        color: black;
    }
}

