page-create {

.sideSelectBar {
  max-width: 100% !important;
}

.saveIcon {
  color: #ff8d22;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.item-inner {
  border-bottom-color: grey !important;
  box-shadow: none !important;
}

.spacer {
  margin-top: 8px;
}

}
