page-spells {

.icons {
  float: right;
}

.heading {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5px;
}

.spacer {
  margin-top: 8px;
}

.toggleOff {
  color: #ff8d22;
  margin-right: 15px;
  font-size: 25px;
}

.toggleOn {
  color: white;
  margin-right: 15px;
  font-size: 25px;
}

.sortCheckbox {
  opacity: 1!important;
}

}
