page-spells {

.icons {
  float: right;
}

.heading {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5px;
}

.spacer {
  margin-top: 8px;
}

.trashIcon {
  color: #ff8d22;

  font-size: 25px;
}

.toggle {
  margin-right: 15px;
  vertical-align: middle;
}

.sortCheckbox {
  opacity: 1!important;
}

}
